<!DOCTYPE html>
<html lang="en">

<nav>

    <a href="{{ url_for('homepage_bp.homepage') }}">Home Page</a>
    <a href="{{ url_for('about') }}">About Page</a>
    <a href="{{ url_for('auth_bp.register') }}">Register Page</a>
    <a href="{{ url_for('blog_bp.blog_view') }}">View the Blog</a>
    <a href="{{ url_for('blog_bp.post_to_blog') }}">Post to Blog</a>

</nav>

<header>

    <title>{{title}} - Page</title>

</header>


<body>

    <h1>{{title}} page </h1>

    {% block body_content %}{% endblock %}

</body>

</html>